*{
    margin:0;
    padding:0;
}

body{
    background-color: black;

}

.volver{
                background-color: white;
                font-weight: bolder;

}

.contenedor{
    width: 500px;
    height: 750px;
    background-image: url(../img/3_1.png);
    background-size: cover;
    border: 1px solid white;
    margin: 0 auto; /*centrar el contendor*/
    position: relative;
    overflow:hidden;
}

.franja1{
    width: 600px;
    height: 410px;
    background-color: yellow;
    /*background-image: url(../img/gym_interior.jpg);*/
    background-size: cover;
    position: absolute;
    top: 150px;
    clip-path: polygon(0 0, 100% 50%, 100% 100%, 0 50%);
    z-index:3;
    /*animation: fondo 30s  forwards;*/
}

#gimnasio{
    width: 600px;
    height: 410px;
    background-size: cover;
    top: 0px;
    position: absolute;
    animation: gimnasio 15s  forwards;
    z-index: 9;

}

@keyframes gimnasio{
    from{
        scale: 120%;
        filter:blur(2px);

    }
    to{
        scale: 100%;
        filter:blur(0px);
    }
}

.franja2{
    width: 215px;
    height: 310px;
    /*background-color: yellow;*/
    background-image: url(../img/4_1.png);
    background-size: cover;
    position:absolute;
    top: 410px;
    left: 30px;
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
    z-index:5;

}

.franja3{
    width: 600px;
    height: 500px;
    /*background-color: blue;*/
    background-image: url(../img/2_1.png);
    background-size: cover;
    margin:cover;
    position: absolute;
    top: 0px;
    left:0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
    z-index: 1;
}

.modelo{
   /*width:350px;
    height:500px;
    position: absolute;
    top: 75px;
    left:-35px;
    position:absolute;
    z-index: 4;*/
    width:600px;
    height:400px;
    position: absolute;
    top: 80px;
    left:-170px;
    z-index: 4;
}

#modelo2{
    width:250px;
    height:150px;
    position: absolute;
    top: 150px;
    left:225px;
    z-index: 10;
    animation: modelo2 15s 1 forwards;

}

@keyframes modelo2{
    from{
        top:180px;
        scale:80%;
        filter:grayscale(100%);
    
    }
    to{
        top:150px;
        scale:120px;
        filter:grayscale(0%);

    }
}

