*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black;
}

 .volver{
                background-color: white;
                font-size: 18px;
                font-weight: bolder;

        }

.contenedor{
    width:800px;
    height:600px;
    border: 1px solid white;
    margin: 0 auto;
    overflow: hidden;
    position:relative;

}

.titulo{
    width: 200px;
    height:100px;
    margin:0 auto;
    position:absolute;
    top:-50px;
    left: 70px;
     z-index: 3;

}

.nombre{
/*     fill:red;  */

   fill:transparent; 
   stroke: #fff;
   stroke-width: 20px;
   stroke-dasharray: 20;
   stroke-dashoffset: 100;
   animation: textAnimation 10s ease-in-out forwards;
}
 @keyframes textAnimation{
    0%{
       /* stroke-dashoffset: 50; */ 
        stroke-dashoffset: 100;
    }
    80%{
      fill: transparent; 
    }
    100%{
/*         fill:rgb(73, 7, 69); */
        fill:rgb(195, 37, 77);
        stroke-width: 20px;
        stroke: #fff;
        stroke-dashoffset: 0;
    }
 }

 .paisaje{
    width:800px;
    position:absolute;
    top:120px;
    z-index:2;
    animation:paisaje 20s 1 forwards;
 }
 @keyframes paisaje{
    from{
        scale:100%;

        filter:blur(2px);
    }
    to{
/*         top: -5px; */
        scale:120%;

        filter:blur(0px);
    }
 }

 .cielo{
    width:1050px;
    height:980px;
    position:absolute;
    top:-430px;
    z-index:1;
    animation: cielo 40s infinite forwards;
 }
 @keyframes cielo{
    from{
        scale:150%;
        filter:blur(2px);
    }
    to{
        scale:100%;
        filter:blur(0px);
    }
 }

 .marco{
    width:1100px;
    height: 700px;

    position:absolute;
    top:-50px;
    left: -150px;
    z-index:5;
    animation:marco 8s 1 forwards;
 }

  @keyframes marco{
    from{
        scale:90%;

    }
    to{
        scale:200%;

    }
}

.neblina{
            width: 200%;
            position: absolute;
            z-index: 4;
            /*left: -200px;*/
            top: 100px;
            animation: neblina 10s 1 forwards ;
        }
        @keyframes neblina {
            from{
                left:0px;

            }
            to{
                left: -1800px;

            }
            
        }
